* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0 !important;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'BBH Bartle', serif;
  background: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: 'BBH Bartle', serif;
  cursor: pointer;
  border-radius: 0 !important;
}

button:hover {
  opacity: 0.85;
}
